<header id="home">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-lg-6 ">
                <h1 class="display-3 pt-5 text-left">
                    Do What You Dream Of...
                </h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, tempora!</p>
                <div class="text-center">
                    <a href="#" class="btn btn-outline-light btn-lg ">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col col-md-12 col-lg-6">
                <img src="../../assets/img/book.png">
            </div>

        </div>
    </div>
</header>