<section class="bg-light pt-4" id="contact">
    <div class="container">
        <h3>Get In Touch</h3>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, temporibus!</p>
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <form>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <ion-icon name="person-circle-outline"></ion-icon>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <ion-icon name="create-outline"></ion-icon>
                            </span>
                        </div>
                        <textarea rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-sm-4 mx-auto">
                <img src="../../assets/img/mlogo.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>